- if (warning=flash[:warning]).present? || notice.present? || alert.present?
  .notifications-container.text-center
    - if warning.present?
      .alert.alert-danger
        %button.close{type: 'button', data: {dismiss: 'alert'}} &times;
        = warning
    - if alert.present?
      .alert.alert-warning
        %button.close{type: 'button', data: {dismiss: 'alert'}} &times;
        = alert
    - if notice.present?
      .alert.alert-success
        %button.close{type: 'button', data: {dismiss: 'alert'}} &times;
        = notice
